@use '../abstracts' as *;

.footer {
  @include flex-config($direction: column, $align: center);
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 10rem 2rem;

  &__logo {
    width: 15rem;
    margin-bottom: 5rem;

    @include respond(qhd) {
      width: min(15vw, 30rem);
    }
  }
}

.links-container {
  @include flex-config($direction: column, $align: center);
  position: relative;
  width: 50%;

  @include respond(tab-land) {
    @include flex-config(
      $direction: row,
      $justify: space-around,
      $align: center
    );
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0 0 -2rem 0;
    border-bottom: 1px solid var(--clr-white);
  }
}

.links {
  position: relative;
  z-index: 10;

  text-align: center;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 1rem;

    @include respond(tab-land) {
      margin-top: 0;
    }
  }

  &__link {
    width: 100%;
    color: var(--clr-white);
    font-size: clamp(1.8rem, 1vw, 4rem);
    cursor: pointer;

    @include respond(tab-land) {
      text-align: start;
      cursor: pointer;
    }

    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    &:hover {
      color: var(--clr-hover);
    }
  }
}

.social-media {
  @include flex-config($direction: Column, $align: center);
  margin-top: 4rem;
  width: 50%;

  &__copyright {
    font-size: clamp(1.2rem, 1vw, 4rem);
    margin-top: 2rem;
  }
}

.icons-container {
  @include flex-config($justify: space-around);
  width: 100%;
  padding: 2rem 0;

  @include respond(desktop) {
    width: 20%;
  }

  &__icon {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s ease;

    @include respond(qhd) {
      font-size: 6rem;
    }

    &:hover {
      color: var(--clr-hover);
    }
  }
}
