@use '../abstracts' as *;

.header {
  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}

.video-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 54, 70, 0.5);
  z-index: 10;
}

.hero-video {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.header-container {
  position: absolute;
  inset: 0;
  z-index: 30;
}

.cta-container {
  @include position($pos: absolute, $top: 40%, $left: 50%);
  width: 70%;
  transform: translate(-50%, -40%);
  color: var(--clr-white);
  padding: 5rem 0;

  &__heading-primary {
    font-size: clamp(2.5rem, 2vw, 10rem);
  }

  &__heading-secondary {
    font-size: clamp(1.2rem, 1.5vw, 4rem);
    font-weight: normal;
    color: var(--clr-light-gray);
    margin: 1rem 0 3rem 0;
  }

  &__btn {
    display: inline-block;
    font-size: clamp(1.2rem, 1vw, 3rem);
    background-color: #069fe0;
    color: var(--clr-white);
    padding: 2rem;
    transition: background-color 0.4s ease, color 0.4s ease;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border-radius: 0.2rem;

    @include respond(xxl) {
      padding: 3rem;
    }

    &:hover {
      background-color: var(--clr-hover);
      color: #e6e6e6;
    }
  }
}

.header-card {
  @include position($pos: absolute, $bottom: 0, $right: 0);
  @include flex-config($justify: space-between, $align: center);
  width: 40%;
  color: var(--clr-light-gray);
  background-color: rgba(45, 80, 112, 0.6);
  border-radius: 1rem 1rem 0 0;

  @include respond(tab-port) {
    width: 30%;
  }

  @include respond(tab-land) {
    width: 20%;
    bottom: 30%;
  }

  &__text {
    width: 60%;
    font-size: clamp(1rem, 1vw, 3rem);
    text-align: center;
  }

  &__img {
    width: 40%;
  }
}

.section-destinations {
  margin: var(--section-spacing) 0;
}

.destinations {
  @include flex-config($direction: column, $align: center);

  @include respond(tab-land) {
    @include flex-config($direction: row, $justify: space-between);
  }
}

.destinations-text-container {
  @include flex-config($direction: column, $justify: end);

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(tab-land) {
    width: 40%;
  }

  &__heading {
    font-size: clamp(1.3rem, 1.5vw, 3rem);
    margin-bottom: 1.5rem;
    text-align: center;

    @include respond(tab-land) {
      text-align: start;
    }
  }

  &__paragraph {
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
    color: var(--clr-dark-gray);
  }
}

.img-grid {
  display: grid;
  grid: repeat(6, 1fr) / repeat(1, 1fr);
  grid-gap: 1.5rem;
  grid-template-areas:
    'img1 '
    'img2 '
    'img3 '
    'img4 '
    'img5'
    'img6';

  margin-top: 5rem;

  @include respond(tab-port) {
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    grid-template-areas:
      'img1 img2 img2 img3'
      'img4 img4 img5 img6';
    width: 50%;
  }

  @include respond(tab-land) {
    grid-gap: 2rem;
    margin-top: 0;
  }
}

.section-choose-us {
  margin: var(--section-spacing) 0;
}

.choose-us-grid {
  display: grid;
  grid: repeat(6, 1fr) / repeat(1, 1fr);
  grid-template-areas:
    'choose-us '
    'img '
    'card1 '
    'card2 '
    'card3 '
    'card4';

  @include respond(tab-land) {
    grid: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      'img choose-us '
      'card1 card3 '
      'card2 card4'
      'card5 card5';
  }

  @include respond(desktop) {
    grid: repeat(3, 1fr) / repeat(5, minmax(0, 1fr));
    grid-template-areas:
      'card1 card1 img choose-us choose-us'
      'card2 card2 img card3 card3'
      'card5 card5 card4 card4 card4';
    grid-gap: 0.5rem;
  }

  &__img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.choose-us {
  @include flex-config($direction: column, $justify: center);
  grid-area: choose-us;
  border-top: 1px solid var(--clr-black);

  @include respond(tab-land) {
    align-items: center;
    border: none;
  }

  @include respond(xxl) {
    padding: 10rem;
  }
}

.choose-us-card {
  &__heading {
    font-size: clamp(1.5rem, 1.5vw, 4rem);
  }

  &__paragraph {
    font-size: clamp(1.5rem, 1vw, 3rem);
    color: var(--clr-dark-gray);
    margin-top: 1rem;
  }
}

.section-reviews {
  margin: var(--section-spacing) 0;
}

.reviews {
  @include flex-config($justify: space-around, $wrap: wrap);
}
