body {
  font-family: 'Lato', sans-serif, serif;
}

.cta-container {
  &__heading-primary {
    font-size: clamp(2.5rem, 2vw, 5rem);
  }

  &__heading-secondary {
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: normal;
    color: #b9b8b8;
    margin: 1rem 0 3rem 0;
  }
}

.heading-tertiary {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  margin: 10rem 0;
  text-align: center;
}

.destinations-text-container {
  &__heading {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-bottom: 3rem;
    text-align: center;
  }

  &__paragraph {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: var(--clr-dark-gray);
    margin-bottom: 5rem;
    text-align: center;
  }
}
